@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #F6F3E8;
  color: #14532D;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1F7A4D;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #14532D;
}

::-webkit-scrollbar-thumb:hover {
  background: #4CAF50;
}
